@model CapaEntidades.EntHabitacion
@using CapaEntidades;

@{
    ViewBag.Title = "editarHabitacion";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}

@section Scripts
{
    <script>
        $("#limpiar").empty()

        $("a#adminName").html("@cuenta.Recep.UserName");
        //$("a#adminName").attr("href", "/Login/CerrarSesion")
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="container" id="listarHabitaciones">
        <div class="form-content form-horizontal col-5 m-auto">
            <h4>Editar habitación</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NumeroHabitacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumeroHabitacion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.NumeroHabitacion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label>Tipo de habitación :</label>

                <div class="col-md-10">
                    @Html.DropDownList("cboTiposH", (SelectList)ViewBag.ListarTiposH, Model.Tipodehabitacion.Nombretipodehabitacion)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-myBtn" />
                    <a class="ml-1 btn btn-MyDanger" href="/MantenedorHabitaciones/listarHabitaciones">Cancelar</a>
                </div>
            </div>
        </div>

    </section>


}


