@model CapaEntidades.EntHabitacion
@using CapaEntidades;
@{
    ViewBag.Title = "eliminarHabitacion";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}

@section Scripts
{
    <script>
        $("#limpiar").empty()

        $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://png.pngtree.com/element_origin_min_pic/16/11/25/f2db5b1fae65676bfd1ecae1dbfdc3a2.jpg" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        //$("a#adminName").attr("href", "/Login/CerrarSesion")
    </script>
}

<section class="container" id="listarHabitaciones">
    <div class="form-content-delete form-horizontal col-5 m-auto">
        <h3 class="red-title">¿Seguro de eliminar habitación N° @Html.DisplayFor(model => model.NumeroHabitacion)?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Tipo de habitación
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tipodehabitacion.Nombretipodehabitacion)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-myBtn" /> |
                    <a class="ml-1 btn btn-MyDanger" href="/MantenedorHabitaciones/listarHabitaciones">Cancelar</a>
                </div>
            }
        </div>
    </div>
</section>


