<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hotel ISIS @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Marimar Hotel template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/bundles/reservarcss")
</head>
<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_content d-flex flex-column align-items-center justify-content-lg-end justify-content-center">

                <!-- Logo -->
                <div class="logo"><a href="#"><img class="logo_1" src="~/Bootstrap/images/logo.png" alt=""><img class="logo_2" src="~/Bootstrap/images/logo_2.png" alt=""><img class="logo_3" src="~/Bootstrap/images/logo_3.png" alt=""></a></div>

                <!-- Main Nav -->
                <nav class="main_nav">
                    <ul class="d-flex flex-row align-items-center justify-content-start">
                        <li>@Html.ActionLink("Inicio", "Inicio", "Menu", null, new { @class = "page-scroll" })</li>
                        <li>@Html.ActionLink("Sobre Nosotros", "About", "Menu", null, new { @class = "page-scroll" })</li>
                        <li>@Html.ActionLink("Habitaciones", "Rooms", "Menu", null, new { @class = "page-scroll" })</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Menu", null, new { @class = "page-scroll" })</li>
                        <li id="misReservas" hidden>@Html.ActionLink("Mis reservas", "MisReservas", "AnularReserva", null, new { @class = "page-scroll" })</li>

                    </ul>
                </nav>

                <!-- Social -->
                <div class="social header_social">
                    <ul class="d-flex flex-row align-items-center justify-content-start">
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <!-- Header Right -->
                <div class="header_right d-flex flex-row align-items-center justify-content-start">

                    <!--Login Status-->

                    <ul>
                        <li class="">
                            <div class="header_login"><a id="idLogin" data-toggle="modal" data-target="#mlogin"><i class="fa fa-sign-in"> Iniciar Sesión </i></a></div>
                        </li>
                    </ul>
                    <div id="userInfo">

                    </div>
                    <!-- Header Link -->
                    <!-- Hamburger Button -->
                    <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

                </div>
            </div>
        </header>

        <!-- Logo Overlay -->

        <div class="logo_overlay">
            <div class="logo_overlay_content d-flex flex-column align-items-center justify-content-center">
                <div class="logo"><a href="#"><img src="~/Bootstrap/images/logo_3.png" alt=""></a></div>
            </div>
        </div>

        <!-- Menu Overlay -->

        <div class="menu_overlay">
            <div class="menu_overlay_content d-flex flex-row align-items-center justify-content-center">

                <!-- Hamburger Button -->
                <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

            </div>
        </div>

        <!-- Menu -->

        <div class="menu">
            <div class="menu_container d-flex flex-column align-items-center justify-content-center">

                <!-- Menu Navigation -->
                <nav class="menu_nav text-center">
                    <ul>
                        <li>@Html.ActionLink("Inicio", "Inicio", "Menu", null, new { @class = "page-scroll" })</li>
                        <li>@Html.ActionLink("Sobre Nosotros", "About", "Menu", null, new { @class = "page-scroll" })</li>
                        <li>@Html.ActionLink("Habitaciones", "Rooms", "Menu", null, new { @class = "page-scroll" })</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Menu", null, new { @class = "page-scroll" })</li>
                        <li id="misReservas" hidden>@Html.ActionLink("Mis reservas", "MisReservas", "AnularReserva", null, new { @class = "page-scroll" })</li>

                    </ul>
                </nav>
                <div class="button menu_button">@Html.ActionLink("Reserva Aquí", "Reservar", "Menu", null, new { @class = "page-scroll" })</div>

                <!-- Menu Social -->
                <div class="social menu_social">
                    <ul class="d-flex flex-row align-items-center justify-content-start">
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Home -->

        <div class="home">
            <div class="home_container d-flex flex-column align-items-center justify-content-center">
                <div class="home_title"><h1>Reservar</h1></div>
            </div>
        </div>

        <!-- Booking -->

        <div class="booking">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="booking_container d-flex flex-row align-items-end justify-content-start">
                            <form action="/RealizarReserva/HabitacionesDisponibles" method="post" class="booking_form">
                                <div class="booking_form_container d-flex flex-lg-row flex-column align-items-start justify-content-start flex-wrap">
                                    <div class="booking_form_inputs d-flex flex-row align-items-start justify-content-between flex-wrap">
                                        <div class="booking_dropdown"><input type="text" name="txtCheckIn" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                                        <div class="booking_dropdown"><input type="text" name="txtCheckOut" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                                        <div class="custom-select">
                                            <select name="selectAdultos">
                                                <option value="0">Adultos</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                        <div class="custom-select">
                                            <select name="selectKids">
                                                <option value="0">Niños</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="booking_form_button ml-lg-auto btn-success">Ver Disponibilidad</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()
        @Html.Partial("_SignUp")
        @Html.Partial("_LogIn")

        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_logo text-center">
                            <a href="#"><img src="~/Bootstrap/images/logo.png" alt=""></a>
                        </div>
                        <div class="footer_content">
                            <div class="row">
                                <div class="col-lg-4 footer_col">
                                    <div class="footer_info d-flex flex-column align-items-lg-end align-items-center justify-content-start">
                                        <div class="text-center">
                                            <div>Teléfono:</div>
                                            <div>+51 999 999 999</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 footer_col">
                                    <div class="footer_info d-flex flex-column align-items-center justify-content-start">
                                        <div class="text-center">
                                            <div>Dirección:</div>
                                            <div>San Isidro, I Etapa, Mz M, n° 14, Trujillo</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 footer_col">
                                    <div class="footer_info d-flex flex-column align-items-lg-start align-items-center justify-content-start">
                                        <div class="text-center">
                                            <div>E-Mail:</div>
                                            <div>hotel.isis@gmail.com</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer_bar text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Esta Página web se hizo con <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", false/*required*/)
    @Scripts.Render("~/bundles/main")
</body>
</html>
