@model CapaEntidades.EntAlquiler
@using CapaEntidades;
@using System.Globalization;
@{
    /**/

    ViewBag.Title = "RealizarAlquiler";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
    EntHabitacion habitacion = Model.Habitacion;
    string cultureName = "en-US";
    var culture = new CultureInfo(cultureName);
    string fechaIngreso = Convert.ToDateTime(Model.FechadeIngreso).ToString("d", culture);
    string fechaSalida = Convert.ToDateTime(Model.FechadeSalida).ToString("d", culture);
    double precio = habitacion.Tipodehabitacion.Precio * 0.2;
}

@section Scripts
{
    <script>
         $("#limpiar").empty()
       $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        //$("a#adminName").attr("href", "/Login/CerrarSesion")
    </script>
}

<div class="home" style="background-image: url(../../Bootstrap/images/elements.jpg);">
    <!-- Para cambiar la imagen, ir a main_styles.css, a la funcion .home y cambiar la ruta-->
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
        <div class="home_title"><h1>Procesar Alquiler</h1></div>
    </div>
</div>
<div class="form-style" style="color:white">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="container" id="realizarAlquiler">
        <h4>Realizar Alquiler</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label>Dni</label>
        <br />
        <input type="hidden" value="@habitacion.NumeroHabitacion" name="txtNumeroHabitacion" />
        <input type="hidden" value="@precio" name="txtprecio" />
        <input type="text" name="txtDni" value="@Model.Huesped.Dni" readonly="readonly">
        </div>
        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <br />
            <input type="text" name="txtFechaIngreso" value="@fechaIngreso" readonly="readonly">
        </div>
        <div class="form-group">
            <label>Fecha de Salida</label>
            <br />
            <input type="text" name="txtFechaSalida" value="@fechaSalida" readonly="readonly">
        </div>
        <div class="form-group">
            <label>Cantidad de Adultos</label>
            <br />
            <input type="text" name="txtCantidadAdultos" value="@Model.CantidaAdultos" readonly="readonly">
        </div>
        <div class="form-group">
            <label>Cantidad de Niños</label>
            <br />
            <input type="text" name="txtCantidadKids" value="@Model.CantidadKids" readonly="readonly">
        </div>
        <div class="form-group">
            @Html.LabelFor(model => habitacion.NumeroHabitacion)
            <br />
            @Html.EditorFor(model => habitacion.NumeroHabitacion, new { htmlAttributes = new { @disabled = "disabled" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => habitacion.Tipodehabitacion.Nombretipodehabitacion)
            <br />
                @Html.EditorFor(model => habitacion.Tipodehabitacion.Nombretipodehabitacion, new { htmlAttributes = new { @disabled = "disabled" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => habitacion.Tipodehabitacion.Precio)
            <br />
                @Html.EditorFor(model => (precio), new { htmlAttributes = new { @disabled = "disabled" } })
        </div>
        <hr />
        <button class="btn-success btn-lg" type="submit">Alquilar</button>
        <button type="button" href="/RealizarAlquiler/AlquilerMenu" class="btn-danger btn-lg">Cancelar</button>
    </div>
    }
</div>

