@model CapaEntidades.EntAlquiler
@using CapaEntidades;
@{
    /**/

    ViewBag.Title = "RealizarAlquiler";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
    EntHabitacion habitacion = Model.Habitacion;
}

@section Scripts
{
    <script>
         $("#limpiar").empty()
        $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        //$("a#adminName").attr("href", "/Login/CerrarSesion")
    </script>
}

<!-- Home -->

<div class="home" style="background-image: url(../../Bootstrap/images/elements.jpg)">
    <!-- Para cambiar la imagen, ir a main_styles.css, a la funcion .home y cambiar la ruta-->
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
        <div class="home_title"><h1>Realizar Alquiler</h1></div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="container" id="realizarAlquiler">
        <div class="form-content form-horizontal col-5 m-auto">
            <h4>Realizar Alquiler</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Dni</label>
                <div class="col-md-10">
                    <input type="hidden" value="@habitacion.NumeroHabitacion" name="txtNumeroHabitacion" />
                    <input type="hidden" value="@habitacion.Tipodehabitacion.Precio" name="txtprecio" />
                    <input type="text" name="txtDni" class="form-control" value="@Model.Huesped.Dni" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-8">Fecha de Ingreso</label>
                <div class="col-md-10">
                    <input type="text" name="txtFechaIngreso" class="form-control" value="@Model.FechadeIngreso" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-8">Fecha de Salida</label>
                <div class="col-md-10">
                    <input type="text" name="txtFechaSalida" class="form-control" value="@Model.FechadeSalida" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-8">Cantidad de Adultos</label>
                <div class="col-md-10">
                    <input type="text" name="txtCantidadAdultos" class="form-control" value="@Model.CantidaAdultos" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-8">Cantidad de Niños</label>
                <div class="col-md-10">
                    <input type="text" name="txtCantidadKids" class="form-control" value="@Model.CantidadKids" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => habitacion.NumeroHabitacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => habitacion.NumeroHabitacion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => habitacion.Tipodehabitacion.Nombretipodehabitacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => habitacion.Tipodehabitacion.Nombretipodehabitacion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => habitacion.Tipodehabitacion.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => habitacion.Tipodehabitacion.Precio, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Alquilar" class="btn btn-myBtn" />
                    <a class="ml-1 btn btn-MyDanger" href="/RealizarAlquiler/AlquilerMenu">Cancelar</a>
                </div>
            </div>
        </div>

    </section>


}
