@model IEnumerable<CapaEntidades.EntReserva>
@using CapaEntidades;
@using System.Globalization;
@{
    ViewBag.Title = "ReservasDeHuesped";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
    string cultureName = "en-US";
    var culture = new CultureInfo(cultureName);
}

@section Scripts
{
    @Styles.Render("~/bundles/js")
    <script>
        $("#limpiar").empty()
        $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://png.pngtree.com/element_origin_min_pic/16/11/25/f2db5b1fae65676bfd1ecae1dbfdc3a2.jpg" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
    </script>
}

<h2 class="text-center text-white mb-4">ReservasDeHuesped</h2>

@if (Model != null)
{
    <table class="table m-auto col-15 table-striped table-dark">
        <tr>
            <th>
                <label>Fecha de reserva</label>
            </th>
            <th>
                <label>Cantidad de adultos</label>
            </th>
            <th>
                <label>Cantidad de niño</label>
            </th>
            <th>
                <label>Fecha de ingreso</label>
            </th>
            <th>
                <label>Fecha de salida</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {



            string fechaIngreso = Convert.ToDateTime(item.FechadeIngreso).ToString("d", culture); 
            string fechaSalida = Convert.ToDateTime(item.FechadeSalida).ToString("d", culture);
            string fechaReserva = Convert.ToDateTime(item.Fechadereserva).ToString("d", culture);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => fechaReserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidaAdultos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadKids)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fechaSalida)
                <td>
                    @Html.ActionLink("Procesar", "ProcesarAlquiler", new { reservaID = item.ReservaID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>

}
else
{
    <div class="alert alert-danger mt-1">
        No tiene reservas
    </div>
}

<hr />
<hr />

