
@model CapaPresentacion.Models.ConfirmedViewData
@using CapaEntidades;
@{
    ViewBag.Title = "Confirmed";
    Layout = "~/Views/Shared/_LayoutReservar.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}

@if (cuenta != null)
{
    @section Scripts
    {
        <script>
        $("#limpiar").empty()
                $("a#idLogin").remove();
                $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://png.pngtree.com/element_origin_min_pic/16/11/25/f2db5b1fae65676bfd1ecae1dbfdc3a2.jpg" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Huesped.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        </script>
    }


    <div class="container card text-center mt-4 mb-4">
        <div class="card-header">
            Confirmar reserva
        </div>
        <div class="card-body">
            <h5 class="card-title text-primary">¿Desea finalizar la reserva?</h5>
            <p class="card-text text-black-50">Monto a pagar: S/.@Model.Monto</p>
            @using (Html.BeginForm("capture", "paypal", FormMethod.Post, new { @class = "form-group pt-4" }))
            {
                @*<form action="/paypal/capture" method="post">*@
                <input type="hidden" name="authorizationId" value="@Model.AuthorizationId" />
                <button type="submit" class="btn btn-success">Aceptar</button>
                @*</form>*@
            }


            @using (Html.BeginForm("void", "paypal", FormMethod.Post, new { @class = "form-group" }))
            {
                @*<form action="/paypal/void" method="post">*@
                <input type="hidden" name="authorizationId" value="@Model.AuthorizationId" />
                <button type="submit" class="btn btn-danger">Cancel</button>
                @*</form>*@
            }
        </div>
        <div class="card-footer text-center text-muted">
            Código de reserva: @Model.ReservaID
            <p><a href="/" class="btn btn-primary mt-4 ml-4">Volver al inicio</a></p>
        </div>
    </div>
}