
@model CapaPresentacion.Models.ConfirmedViewData
@using CapaEntidades;
@{
    ViewBag.Title = "Confirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}

@if (cuenta != null)
{
    @section Scripts
    {
        <script>
        $("#limpiar").empty()
                $("a#idLogin").remove();
                $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Huesped.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        </script>
    }

    <!-- Home -->

    <div class="home" style="background-image: url(../../Bootstrap/images/elements.jpg)">
        <div class="home_container d-flex flex-column align-items-center justify-content-center">
            <div class="home_title"><h1>Confirmar reserva</h1></div>
        </div>
    </div>

    <div class="form-style">
        <div class="container mt-4 mb-4">
            <div>
                <h3></h3>Confirmar reserva
            </div>
            <hr />
            <div>
                <h5>¿Desea finalizar la reserva?</h5>
                <p>Monto a pagar: S/.@Model.Monto</p>
                @using (Html.BeginForm("capture", "paypal", FormMethod.Post, new { @class = "form-group pt-4" }))
                {
                    @*<form action="/paypal/capture" method="post">*@
                    <input type="hidden" name="authorizationId" value="@Model.AuthorizationId" />
                    <button type="submit" class="btn btn-success">Aceptar</button>
                    @*</form>*@
                }

                @using (Html.BeginForm("void", "paypal", FormMethod.Post, new { @class = "form-group" }))
                {
                    @*<form action="/paypal/void" method="post">*@
                    <input type="hidden" name="authorizationId" value="@Model.AuthorizationId" />
                    <button type="submit" class="btn btn-danger">Cancel</button>
                    @*</form>*@
                }
            </div>
            <hr />
            <div class="text-muted">
                Código de reserva: @Model.ReservaID
                <hr />
                <button class="btn-primary btn-lg" type="button">@Html.ActionLink("Volver al Inicio", "Inicio", "Menu", null, new { @class = "page-scroll" })</button>
            </div>
        </div>
    </div>
}