
@model CapaPresentacion.Models.ConfirmedViewData
@using CapaEntidades;
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}

@if (cuenta != null)
{
    @section Scripts
    {
        <script>
        $("#limpiar").empty()
                $("a#idLogin").remove();
                $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Huesped.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        </script>
    }

    <!-- Home -->

    <div class="home" style="background-image: url(../../Bootstrap/images/elements.jpg)">
        <div class="home_container d-flex flex-column align-items-center justify-content-center">
            <div class="home_title"><h1>Reserva Confirmada</h1></div>
        </div>
    </div>

    <div class="form-style">
        <div class="container mt-4 mb-4">
            <div>
                <h3>Pago realizado con éxito</h3>
                <hr />
            </div>
            <div >
                <h5>Serie: @Model.Serie</h5>
                <p>RUC: RUC00000001</p>
                <p>Total a pagar: S/.@Model.Monto</p>
                <p>ReservaID: @Model.ReservaID</p>
                <p class="text-muted">Tome captura de esta información</p>
            </div>
                <hr />
            <div>
                <p><a href="/" class="btn btn-primary btn-lg">Volver al sitio</a></p>
            </div>

        </div>
    </div>
}