@model CapaEntidades.EntReserva
@using CapaEntidades;
@{
    ViewBag.Title = "Buscar reserva";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}

@section Scripts
{
    @Styles.Render("~/bundles/js")
    <script>
        $("#limpiar").empty()
        $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
    </script>
}

<!-- Home -->

<div class="home" style="background-image: url(../../Bootstrap/images/home.jpg);">

    <div class="home_container d-flex flex-column align-items-center justify-content-center">
        <div class="home_title"><h1>Buscar Reserva</h1></div>
    </div>
</div>

<div class="form-style">
    <div class="container m-auto col-4">
        <h3>Buscar reserva</h3>
        <hr />
        <div>
            <h4>Ingrese ID de la reserva</h4>
            <br />
            @using (Html.BeginForm("EditarReserva", "MantenedorReserva", FormMethod.Post, new { @class = "form-group", id = "formID" }))
            {
                @Html.EditorFor(model => model.ReservaID, new { @class = "form-control" })

            }
        </div>
        <div>
            <hr />
            <button type="submit" class="btn-primary btn-lg" form="formID" name="Buscar"><i class="fa fa-search" aria-hidden="true"> Buscar</i></button>
        </div>
    </div>
</div>