@model CapaEntidades.EntReserva
@using CapaEntidades;
@using System.Globalization;
@{
    ViewBag.Title = "EditarReserva";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
    string cultureName = "en-US";
    var culture = new CultureInfo(cultureName);
    string fechaIngreso = Convert.ToDateTime(Model.FechadeIngreso).ToString("d", culture);
    string fechaSalida = Convert.ToDateTime(Model.FechadeSalida).ToString("d", culture);
}

@section Scripts
{
    @Styles.Render("~/bundles/js")
    <script>
        $("#limpiar").empty()
        $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
    </script>
}

<!-- Home -->

<div class="home" style="background-image: url(../../Bootstrap/images/home.jpg);">

    <div class="home_container d-flex flex-column align-items-center justify-content-center">
        <div class="home_title"><h1>Editar Reserva</h1></div>
    </div>
</div>

<div class="form-style">
    @using (Html.BeginForm("CambiarFechas", "MantenedorReserva", FormMethod.Post, new { @class = "form-group", id = "formID" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-content form-horizontal col-5 m-auto">
            <h4>Editar reserva</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <label>Fecha de ingreso</label>
            <br />
            <input type="text" class="datepicker" name="txtFechaIngreso" placeholder="@fechaIngreso" />

        </div>
        <div class="form-group">

            <label>Fecha de salida</label>
            <br />
            <input type="text" class="datepicker" name="txtFechaSalida" placeholder="@fechaSalida" />

        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ReservaID)
                <br />
                    @Html.EditorFor(model => model.ReservaID, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ReservaID, "", new { @class = "text-danger" })
   
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Habitacion.NumeroHabitacion)
                <br />
                    @Html.EditorFor(model => model.Habitacion.NumeroHabitacion, new { htmlAttributes = new { @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Habitacion.NumeroHabitacion, "", new { @class = "text-danger" })
           
            </div>
            <div>
                <hr />
                <button type="submit" class="btn-success btn-lg"> Guardar</button>
                <button type="button" class="btn-danger btn-lg">@Html.ActionLink("Cancelar", "Index", "Home" , null, new { @class = "page-scroll" })</button>
            </div>
        </div>
    }
</div>
