@model CapaEntidades.EntReserva
@using CapaEntidades;
@using System.Globalization;
@{
    ViewBag.Title = "EditarReserva";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
    string cultureName = "en-US";
    var culture = new CultureInfo(cultureName);
    string fechaIngreso = Convert.ToDateTime(Model.FechadeIngreso).ToString("d", culture);
    string fechaSalida = Convert.ToDateTime(Model.FechadeSalida).ToString("d", culture);
}

@section Scripts
{
    @Styles.Render("~/bundles/js")
    <script>
        $("#limpiar").empty()
        $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://png.pngtree.com/element_origin_min_pic/16/11/25/f2db5b1fae65676bfd1ecae1dbfdc3a2.jpg" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
    </script>
}

@using (Html.BeginForm("CambiarFechas", "MantenedorReserva", FormMethod.Post, new { @class = "form-group", id = "formID" }))
{
    @Html.AntiForgeryToken()

    <div class="form-content form-horizontal col-5 m-auto">
        <h4>Editar reserva</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label>Fecha de ingreso</label>
                <input type="text" class="form-control text-black-50 datepicker" name="txtFechaIngreso" placeholder="@fechaIngreso" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Fecha de salida</label>
                <input type="text" class="form-control text-black-50 datepicker" name="txtFechaSalida" placeholder="@fechaSalida" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReservaID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReservaID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ReservaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Habitacion.NumeroHabitacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Habitacion.NumeroHabitacion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Habitacion.NumeroHabitacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="ml-1 btn btn-dark" href="/Home/Index">Cancelar</a>
            </div>
        </div>
    </div>
}

