@model CapaEntidades.EntServicioadicional
@using CapaEntidades;
@{
    ViewBag.Title = "eliminarServicio";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}
@section Scripts
{
    <script>
        $("#limpiar").empty()

        $("a#adminName").html("@cuenta.NombreUsuario");
        //$("a#adminName").attr("href", "/Login/CerrarSesion")
    </script>
}
<section class="container" id="listarServicios">
    <div class="form-content-delete form-horizontal col-5 m-auto">
        <h3 class="red-title">¿Seguro de eliminar servicio @Html.DisplayFor(model => model.NombreDeServicio)?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Servicio
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreDeServicio)
                </dd>

                <dt>
                    ID
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ServicioID)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-myBtn" /> |
                    <a class="ml-1 btn btn-MyDanger" href="/MantenedorServicios/listarServicios">Cancelar</a>
                </div>
            }
        </div>
    </div>

</section>
