@model CapaEntidades.EntServicioadicional
@using CapaEntidades;
@{
    ViewBag.Title = "insertarServicio";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}

@section Scripts
{
    <script>
        $("#limpiar").empty()

       $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        //$("a#adminName").attr("href", "/Login/CerrarSesion")
    </script>
}

<div class="home" style="background-image: url(../../Bootstrap/images/elements.jpg)">
    <!-- Para cambiar la imagen, ir a main_styles.css, a la funcion .home y cambiar la ruta-->
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
        <div class="home_title"><h1>Agregar Servicios</h1></div>
    </div>
</div>

<div class="form-style">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="container col-5" id="listarServicios">
            <h3>Agregar Servicio Adicional</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Nombre de servicio: </label>
                <br />
                @Html.EditorFor(model => model.NombreDeServicio, new { htmlAttributes = new { @style = "width: 50%" } })
                @Html.ValidationMessageFor(model => model.NombreDeServicio, "", new { @class = "text-danger" })
            </div>
            <div>
                <hr />
                <button type="submit" class="btn-success btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Añadir</button>
                <button type="button" class="btn-danger btn-lg">@Html.ActionLink(" Cancelar", "listarServicios")</button>
            </div>
        </section>

    }
</div>