@model CapaEntidades.EntReservaViewModel
@using CapaEntidades;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    EntReserva reserva = Model.Reserva;
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}

@if (cuenta != null)
{

    @section Scripts
    {
        <script>
        $("#limpiar").empty()
                $("a#idLogin").remove();
                $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://png.pngtree.com/element_origin_min_pic/16/11/25/f2db5b1fae65676bfd1ecae1dbfdc3a2.jpg" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Huesped.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        </script>
    }
}
else
{
    @section Scripts
    {
        <script>
            $("#limpiar").empty()
        </script>
    }
}

<!-- Home -->

<div class="home" style="background-image: url(../../Bootstrap/images/elements.jpg);">
    <!-- Para cambiar la imagen, ir a main_styles.css, a la funcion .home y cambiar la ruta-->
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
        <div class="home_title"><h1>Reservar</h1></div>
        <div class="home_text text-center">Elige cuando hospedarte con nosotros</div>
    </div>
</div>


<!-- Booking -->

<div class="booking">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="booking_container d-flex flex-row align-items-end justify-content-start">
                    <form action="/RealizarReserva/HabitacionesDisponibles" method="post" class="booking_form">
                        <div class="booking_form_container d-flex flex-lg-row flex-column align-items-start justify-content-start flex-wrap">
                            <div class="booking_form_inputs d-flex flex-row align-items-start justify-content-between flex-wrap">
                                <div class="booking_dropdown"><input type="text" name="txtCheckIn" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                                <div class="booking_dropdown"><input type="text" name="txtCheckOut" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                                <div class="custom-select">
                                    <select name="selectAdultos">
                                        <option value="0">Adultos</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="custom-select">
                                    <select name="selectKids">
                                        <option value="0">Niños</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="booking_form_button ml-lg-auto btn-success">Ver Disponibilidad</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.ErrorID == 0)
{
    <div class="alert alert-danger text-center mt-4">
        Ingrese una fecha válida
    </div>
}
@if (Model.ErrorID == 1)
{
    <div class="alert alert-danger text-center mt-4">
        La diferencia de fechas no debe ser mayor a 28
    </div>
}

@if (Model.ErrorID == 2)
{
    <div class="alert alert-danger text-center mt-4">
        Ingrese al menos un adulto
    </div>
}
@if (Model.ErrorID == 3)
{
    <div class="alert alert-danger text-center mt-4">
        Máximo 6 personas
    </div>
}

@if (Model.Habitaciones != null && Model.ErrorID < 0 && Model.Habitaciones.Count != 0)
{

    <div class="container">
        <!-- Room -->
        <div class="rooms">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card-columns">
                            @foreach (var item in Model.Habitaciones)
                            {

                                <div class="card">
                                    @switch (item.Tipodehabitacion.Nombretipodehabitacion)
                                    {
                                        case "Simple":
                                            <img class="card-img-top" src="~/Bootstrap/images/room_1.jpg" alt="Room image description">
                                            break;
                                        case "Matrimonial":
                                            <img class="card-img-top" src="~/Bootstrap/images/offer_4.jpg" alt="Room image description">
                                            break;
                                        case "Doble":
                                            <img class="card-img-top" src="~/Bootstrap/images/room_3.jpg" alt="Room image description">
                                            break;
                                        case "Triple":
                                            <img class="card-img-top" src="~/Bootstrap/images/room_4.jpg" alt="Room image description">
                                            break;
                                        case "Múltiple":
                                            <img class="card-img-top" src="~/Bootstrap/images/room_2.jpg" alt="Room image description">
                                            break;
                                    }
                                    <div class="card-body">
                                        <div class="rooms_title"><h2>@item.Tipodehabitacion.Nombretipodehabitacion: @item.NumeroHabitacion </h2></div>
                                        <div class="rooms_list">
                                            @foreach (var serv in item.Tipodehabitacion.ServiciosAdicionales)
                                            {
                                                <ul>
                                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                                        <img src="~/Bootstrap/images/check.png" alt="">
                                                        <span>@serv.NombreDeServicio</span>
                                                    </li>
                                                </ul>
                                            }

                                        </div>
                                        <div class="rooms_price">S/.@item.Tipodehabitacion.Precio<span>Noche</span></div>
                                        <div class="button rooms_button">
                                            @Html.ActionLink("RESERVAR", "RealizarReserva", new
                                            {
                                                NumeroHabitacion = item.NumeroHabitacion,
                                                fechaReserva = reserva.Fechadereserva,
                                                fechaIngreso = reserva.FechadeIngreso,
                                                fechaSalida = reserva.FechadeSalida,
                                                cantidadAdultos = reserva.CantidaAdultos
                                  ,
                                                cantidadKids = reserva.CantidadKids
                                            }, new { @class = "d-block mb-2 link-master btn btn-myBtn" })
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else if (Model.ErrorID < 0)
{

    <div class="alert alert-danger text-center mt-4">
        No hay habitaciones disponibles para la fecha seleccionada
    </div>

}

