@model CapaEntidades.EntReservaViewModel
@using CapaEntidades;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    EntReserva reserva = Model.Reserva;
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}



@if (Model.ErrorID == 0)
{
    <div class="alert alert-danger text-center mt-4">
        Ingrese una fecha válida
    </div>
}
@if (Model.ErrorID == 1)
{
    <div class="alert alert-danger text-center mt-4">
        La diferencia de fechas no debe ser mayor a 28
    </div>
}

@if (Model.ErrorID == 2)
{
    <div class="alert alert-danger text-center mt-4">
        Ingrese al menos un adulto
    </div>
}
@if (Model.ErrorID == 3)
{
    <div class="alert alert-danger text-center mt-4">
        Máximo 6 personas
    </div>
}

@if (Model.Habitaciones != null && Model.ErrorID < 0 && Model.Habitaciones.Count != 0)
{
    if (cuenta != null)
    {
        @section Scripts
    {
            <script>

            $("a#idLogin").attr("href", "#");
            $("a#idLogin").removeAttr("data-toggle");
            $("a#idLogin").removeAttr("data-target");
            $("a#idLogin").html("@cuenta.Huesped.UserName");

            $("a#idsignUp").removeAttr("data-toggle");
            $("a#idsignUp").removeAttr("data-target");
            $("a#idsignUp").attr("href", "/Login/CerrarSesion");
                $("a#idsignUp").html("Cerrar Sesión");
                $("#misReservas").removeAttr("hidden");
                $("#limpiar").empty();
            </script>
        }

    }
    else
    {
        @section Scripts
        {
            <script>
                $("#limpiar").empty()
            </script>
        }
    }
    <div class="container">
        <!-- Room -->
        <div class="rooms">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card-columns">
                            @foreach (var item in Model.Habitaciones)
                            {

                                <div class="card">
                                    @switch (item.Tipodehabitacion.Nombretipodehabitacion)
                                    {
                                        case "Simple":
                                            <img class="card-img-top" src="~/Bootstrap/images/room_1.jpg" alt="Room image description">
                                            break;
                                        case "Matrimonial":
                                            <img class="card-img-top" src="~/Bootstrap/images/offer_4.jpg" alt="Room image description">
                                            break;
                                        case "Doble":
                                            <img class="card-img-top" src="~/Bootstrap/images/room_3.jpg" alt="Room image description">
                                            break;
                                        case "Triple":
                                            <img class="card-img-top" src="~/Bootstrap/images/room_4.jpg" alt="Room image description">
                                            break;
                                        case "Múltiple":
                                            <img class="card-img-top" src="~/Bootstrap/images/room_2.jpg" alt="Room image description">
                                            break;
                                    }
                                    <div class="card-body">
                                        <div class="rooms_title"><h2>@item.Tipodehabitacion.Nombretipodehabitacion: @item.NumeroHabitacion </h2></div>
                                        <div class="rooms_list">
                                            @foreach (var serv in item.Tipodehabitacion.ServiciosAdicionales)
                                            {
                                                <ul>
                                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                                        <img src="~/Bootstrap/images/check.png" alt="">
                                                        <span>@serv.NombreDeServicio</span>
                                                    </li>
                                                </ul>
                                            }

                                        </div>
                                        <div class="rooms_price">S/.@item.Tipodehabitacion.Precio<span>Noche</span></div>
                                        <div class="button rooms_button">
                                            @Html.ActionLink("RESERVAR", "RealizarReserva", new { NumeroHabitacion = item.NumeroHabitacion,fechaReserva = reserva.Fechadereserva,fechaIngreso = reserva.FechadeIngreso,
                                  fechaSalida = reserva.FechadeSalida, cantidadAdultos = reserva.CantidaAdultos
                                  , cantidadKids = reserva.CantidadKids}, new { @class = "d-block mb-2 link-master btn btn-myBtn" })
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else if (Model.ErrorID < 0)
{

    <div class="alert alert-danger text-center mt-4">
        No hay habitaciones disponibles para la fecha seleccionada
    </div>

}

