@model CapaEntidades.EntReserva
@using CapaEntidades;
@{
    ViewBag.Title = "RealizarReserva";
    Layout = "~/Views/Shared/_LayoutReservar.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
    EntHabitacion habitacion = Model.Habitacion;
    double precio = habitacion.Tipodehabitacion.Precio;
    double precioHabitacion = habitacion.CalcularPrecioOriginal() - precio;

}
@if (cuenta != null)
{
    @section Scripts
    {
        <script>

            $("a#idLogin").html("Cerrar Sesión");
            $("a#idLogin").attr("href", "/Login/CerrarSesion")
            $("#limpiar").empty()
        </script>
    }
    using (Html.BeginForm())
    {
        <div class="container card text-center mt-4 mb-4">
            <div class="card-header">
                Realizar reserva
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Información de su reserva</h5>
                <p class="card-text text-danger mb-3">Se le está cobrando solo el 20% del precio de la habitación como garantía.</p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-8">Fecha de Reserva</label>
                    <div class="m-auto col-md-10">
                        <input type="text" name="txtFechaReserva" class="m-lg-auto form-control text-center col-md-4" value="@Model.Fechadereserva" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8">Fecha de Ingreso</label>
                    <div class="m-auto col-md-10">
                        <input type="text" name="txtFechaIngreso" class="m-lg-auto form-control text-center col-md-4" value="@Model.FechadeIngreso" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8">Fecha de Salida</label>
                    <div class="m-auto col-md-10">
                        <input type="text" name="txtFechaSalida" class="m-lg-auto form-control text-center col-md-4" value="@Model.FechadeSalida" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8">Cantidad de Adultos</label>
                    <div class="m-auto col-md-10">
                        <input type="text" name="txtCantidadAdultos" class="m-lg-auto form-control text-center col-md-4" value="@Model.CantidaAdultos" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8">Cantidad de Niños</label>
                    <div class="m-auto col-md-10">
                        <input type="text" name="txtCantidadKids" class="m-lg-auto form-control text-center col-md-4" value="@Model.CantidadKids" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Número de habitación</label>
                    <div class="m-auto col-md-10">
                        @Html.EditorFor(model => habitacion.NumeroHabitacion, new { htmlAttributes = new { @class = "m-lg-auto form-control text-center col-md-4", @disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Tipo de habitación</label>
                    <div class="m-auto col-md-10">
                        @Html.EditorFor(model => habitacion.Tipodehabitacion.Nombretipodehabitacion, new { htmlAttributes = new { @class = "m-lg-auto form-control text-center col-md-4", @disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => habitacion.Tipodehabitacion.Precio, htmlAttributes: new { @class = "m-lg-auto control-label col-md-2" })
                    <div class="m-auto col-md-10">
                        <input class="m-lg-auto form-control text-center col-md-4" readonly="readonly" name="precio" placeholder="S/. @precio" value="@precio" />
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="control-label col-md-10">Una vez en el hotel se cobrará S/. @precioHabitacion</label>
                </div>
                <div class="mb-0">
                    <i class="fa fa-cc-paypal fa-5x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card-footer text-muted text-center">
                <div class="form-group text-center">
                        <input type="submit" value="Pagar con PayPal" class="btn btn-myBtn" />
                        <a class="ml-1 btn btn-danger" href="/Menu/Inicio">Cancelar</a>
                </div>
            </div>
        </div>

        @*<section class="container mt-4" id="realizarReserva">
            <div class="form-content form-horizontal col-5 m-lg-auto">
                <h4>Realizar Reserva</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-8">Fecha de Reserva</label>
                    <div class="col-md-10">
                        <input type="text" name="txtFechaReserva" class="form-control" value="@Model.Fechadereserva" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8">Fecha de Ingreso</label>
                    <div class="col-md-10">
                        <input type="text" name="txtFechaIngreso" class="form-control" value="@Model.FechadeIngreso" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8">Fecha de Salida</label>
                    <div class="col-md-10">
                        <input type="text" name="txtFechaSalida" class="form-control" value="@Model.FechadeSalida" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8">Cantidad de Adultos</label>
                    <div class="col-md-10">
                        <input type="text" name="txtCantidadAdultos" class="form-control" value="@Model.CantidaAdultos" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8">Cantidad de Niños</label>
                    <div class="col-md-10">
                        <input type="text" name="txtCantidadKids" class="form-control" value="@Model.CantidadKids" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => habitacion.NumeroHabitacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => habitacion.NumeroHabitacion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => habitacion.Tipodehabitacion.Nombretipodehabitacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => habitacion.Tipodehabitacion.Nombretipodehabitacion, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => habitacion.Tipodehabitacion.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control" readonly="readonly" name="precio" placeholder="S/. @precio" value="@precio" />
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="control-label col-md-10">Una vez en el hotel se cobrará</label>
                    <div class="col-md-10">
                        @{
                            <p>
                                Precio de habitación: S/. @precioHabitacion
                            </p>
                        }
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Pagar con PayPal" class="btn btn-myBtn" />
                        <a class="ml-1 btn btn-danger" href="/Menu/Inicio">Cancelar</a>
                    </div>
                </div>
            </div>

        </section>*@


    }
}
else
{
    <script>
        window.location.href = "@Url.Action("VerificarAcceso","Login")";
    </script>
}



