@model CapaEntidades.EntReserva
@using CapaEntidades;
@{
    ViewBag.Title = "RealizarReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
    EntHabitacion habitacion = Model.Habitacion;
    double precio = habitacion.Tipodehabitacion.Precio;
    double precioDesc = habitacion.AplicarDescuentoPorReserva();
    double precioCheckIn = precio - precioDesc;
}
@if (cuenta != null)
{
    @section Scripts
    {
        <script>
        $("#limpiar").empty()
                $("a#idLogin").remove();
                $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Huesped.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion","Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        </script>
    }

    <!-- Home -->

    <div class="home" style="background-image: url(../../Bootstrap/images/elements.jpg)">
        <!-- Para cambiar la imagen, ir a main_styles.css, a la funcion .home y cambiar la ruta-->
        <div class="home_container d-flex flex-column align-items-center justify-content-center">
            <div class="home_title"><h1>Realizar Reserva</h1></div>
        </div>
    </div>

    using (Html.BeginForm())
    {
        <div class="form-style">
            <h5 style="color:white; font-size:25px">Información de su reserva</h5><hr />
            <p>Se le está cobrando solo el 20% del precio de la habitación como garantía.</p><br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Fecha de Reserva</label>
                <div>
                    <input type="text" name="txtFechaReserva" value="@Model.Fechadereserva" readonly="readonly">
                </div>
                <div class="form-group">
                    <label>Fecha de Ingreso</label>
                    <br />
                    <input type="text" name="txtFechaIngreso" value="@Model.FechadeIngreso" readonly="readonly">
                </div>
                <div class="form-group">
                    <label>Fecha de Salida</label>
                    <br />
                    <input type="text" name="txtFechaSalida" value="@Model.FechadeSalida" readonly="readonly">
                </div>
                <div class="form-group">
                    <label>Cantidad de Adultos</label>
                    <br />
                    <input type="text" name="txtCantidadAdultos" value="@Model.CantidaAdultos" readonly="readonly">
                </div>
                <div class="form-group">
                    <label>Cantidad de Niños</label>
                    <br />
                    <input type="text" name="txtCantidadKids" value="@Model.CantidadKids" readonly="readonly">
                </div>
                <div class="form-group">
                    <label>Número de habitación</label>
                    <br />
                    @Html.EditorFor(model => habitacion.NumeroHabitacion)
                </div>
                <div class="form-group">
                    <label>Tipo de habitación</label>
                    <br />
                    @Html.EditorFor(model => habitacion.Tipodehabitacion.Nombretipodehabitacion)
                </div>
                <div class="form-group">
                    <label>Precio de la Habitación</label>
                    <br />
                        <input readonly="readonly" placeholder="S/.@habitacion.Tipodehabitacion.Precio" value="@precio" />
                </div>
                <div class="form-group">
                    <label>Costo de la Reserva</label>
                    <br />
                        <input readonly="readonly" name="precio" placeholder="S/.@precioDesc" value="@precioDesc" />
                </div>
                <br />
                <div class="form-group">
                    <label>Durante el Check in de su hospedaje se le cobrará lo restante: S/. @precioCheckIn</label>
                </div>
                <div class="form-group">
                    <br />
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png" />
                    <hr />
                </div>
                <button class="btn-success btn-lg" type="submit">Pagar con Paypal</button>
                <a class="btn btn-danger btn-lg ml-2" href="/Menu/Inicio">Cancelar</a> 
            </div>
        </div>

    }
}
else
{
    @section Scripts
    {
        <script>
            $("#mlogin").modal("show");
        </script>
    }

}



