@model CapaEntidades.EntTipoDeHabitacion
@using CapaEntidades;
@{
    ViewBag.Title = "eliminarServicios";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}


@section Scripts
{
    @Styles.Render("~/bundles/js")
    <script>
        $("#limpiar").empty()
         $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        $('#MultiServ').multiSelect({
            afterSelect: function (values) {
            },
            afterDeselect: function (values) {
            }
        });
    </script>
}

<div class="home" style="background-image: url(../../Bootstrap/images/elements.jpg)">
    <!-- Para cambiar la imagen, ir a main_styles.css, a la funcion .home y cambiar la ruta-->
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
        <div class="home_title"><h1>Eliminar Servicios</h1></div>
    </div>
</div>

<div class="form-style">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="container" id="listarTiposH">
            <div class="form-content m-auto form-horizontal col-5">
                <h4>Eliminar servicios de @Model.Nombretipodehabitacion</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-10">Servicios :</label>
                    <div class="col-md-10">
                        @Html.ListBoxFor(model => model.SelectedIds, (MultiSelectList)ViewBag.listaServicios, new { id = "MultiServ", multiple = "multiple" })
                    </div>
                </div>

                <div>
                    <hr />
                    <button type="submit" class="btn-success btn-lg"> Guardar</button>
                    <button type="button" class="btn-danger btn-lg">@Html.ActionLink(" Cancelar", "listarTiposH")</button>
                </div>
            </div>
        </section>
    }
</div>
