@model IEnumerable<CapaEntidades.EntTipoDeHabitacion>
@using CapaEntidades;
@{
    ViewBag.Title = "listarTiposH";
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}
@section Scripts
{
    <script>
        $("#limpiar").empty()

        $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Recep.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        //$("a#adminName").attr("href", "/Login/CerrarSesion")
    </script>
}

<div class="home" style="background-image: url(../../Bootstrap/images/elements.jpg)">
    <!-- Para cambiar la imagen, ir a main_styles.css, a la funcion .home y cambiar la ruta-->
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
        <div class="home_title"><h1>Servicios</h1></div>
    </div>
</div>

<div class="form-style">
    <section class="container" id="listarTiposH">
        <table class="table m-auto table-striped" style="font-size:20px">
            <tr>
                <th>
                    Capacidad
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Número de camas
                </th>
                <th>
                    Precio
                </th>
                <th>
                    ID
                </th>
                <th>
                    Costo adicional
                </th>
                <th>
                    Servicios
                </th>
                <th class="col-3">
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombretipodehabitacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numerodecamas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipodehabitacionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Costoadicional)
                    </td>
                    <td>
                        @{
                            string servicios = string.Join
                            (
                                ", ",
                                (from row in item.ServiciosAdicionales
                                 select row.NombreDeServicio).ToArray()
                            );
                            @servicios.ToString()
                        }
                    </td>
                    <td class="options">
                        <button type="button" class="btn-primary btn-lg"><i class="fa fa-pencil" aria-hidden="true"></i>@Html.ActionLink(" Editar ", "editarTipoH", new { TipodehabitacionID = item.TipodehabitacionID })</button>
                        <br />
                        <br />
                        <button type="button" class="btn-success btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>@Html.ActionLink(" Añadir Servicios", "agregarServicios", new { TipodehabitacionID = item.TipodehabitacionID })</button>
                        <br />
                        <br />
                        <button type="button" class="btn-danger btn-lg"><i class="fa fa-minus-circle" aria-hidden="true"></i>@Html.ActionLink(" Eliminar Servicios", "eliminarServicios", new { TipodehabitacionID = item.TipodehabitacionID })</button>
                    </td>
                </tr>
            }

        </table>
    </section>
</div>

