@model CapaEntidades.EntHuesped

@{
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
}

    <section class="container" id="listarHuesped">
        <div class="form-content-delete form-horizontal col-5 m-auto">
            <h3 class="red-title">¿Seguro de eliminar a @Html.DisplayFor(model => model.Apellidos)?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Apellidos
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Apellidos)
                    </dd>

                    <dt>
                        Email
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        Fecha de nacimiento
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Fechadenacimiento)
                    </dd>

                    <dt>
                        Nombre
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        DNI
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Dni)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-success" /> |
                    <a class="ml-3 btn btn-danger" href="/MantenedorHuesped/listarHuesped">Cancelar</a>
                </div>
                }
            </div>
        </div>
    </section>
