@model IEnumerable<CapaEntidades.EntHuesped>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/mantenedores.css" rel="stylesheet" />
    <title>listarHuesped</title>
</head>
<body>
    <p>
        @Html.ActionLink("Inicio", "Index", "Home",null,new { @class="link-master"})
        @Html.ActionLink("Nuevo", "registrarHuesped",null,new { @class = "link-master" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechadenacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechadenacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td class="options">
                @Html.ActionLink("Editar", "editarHuesped", new { Dni = item.Dni },new { @class = "link-master"}) |
                @Html.ActionLink("Eliminar", "eliminaHuesped" ,new { Dni = item.Dni }, new { @class = "link-master" })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
