@model IEnumerable<CapaEntidades.EntHuesped>

@{
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Css/mantenedores.css" rel="stylesheet" />*@
    <title>listarHuesped</title>
</head>
<body>
    <section class="container" id="listarHuesped">
        <div class="pb-4 form-header no-color">
            <a class="btn btn-secondary" href="/MantenedorHuesped/registrarHuesped">Nuevo huésped</a>
        </div>
        
        <table class="table m-auto col-10 table-striped table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fechadenacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dni)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fechadenacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dni)
                    </td>
                    <td class="options">
                        @Html.ActionLink("Editar", "editarHuesped", new { Dni = item.Dni }, new { @class = "link-master badge badge-primary" }) |
                        @Html.ActionLink("Eliminar", "eliminaHuesped", new { Dni = item.Dni }, new { @class = "link-master badge badge-danger" })
                    </td>
                </tr>
            }

        </table>
    </section>
</body>
</html>
