@model CapaEntidades.EntHuesped

@{
    Layout = "~/Views/Shared/_LayoutMantenedores.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar Huésped</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="container" id="listarHuesped">
            <div class="form-content m-auto form-horizontal col-5">
                <h4>Registrar Huésped</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2" for="Dni">Dni</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Apellidos">Apellidos</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Nombre">Nombre</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fechadenacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group date fechaNac col-md-10">
                        @Html.EditorFor(model => model.Fechadenacimiento, new { htmlAttributes = new { @class = "form-control" } })
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        @Html.ValidationMessageFor(model => model.Fechadenacimiento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="PasswordHuesped">Password</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.PasswordHuesped, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.PasswordHuesped, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success " />
                        <a class="ml-3 btn btn-danger" href="/MantenedorHuesped/listarHuesped">Cancelar</a>
                    </div>
                </div>
            </div>
        </section>
    }

</body>
</html>
